[submodule "games/web/SpaceCompany"]
	path = games/web/SpaceCompany
	url = https://github.com/sparticle999/SpaceCompany.git
[submodule "games/web/watermelon"]
	path = games/web/watermelon
	url = https://github.com/choshinyoung/watermelon.git
[submodule "games/web/GetawayShootout"]
	path = games/web/GetawayShootout
	url = https://github.com/lordsofdank/GetawayShootout.git

[submodule "games/web/1v1.lol"]
	path = games/web/1v1.lol
	url = https://github.com/blzby1/1v1.lol
