* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.topbar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: flex-end;
}

.topbar .logo {
    margin-right: auto;
}

.topbar .logo, .topbar .topbar-item {
    padding: 0 1rem 0 1rem;
    font-size: x-large;
}

a.topbar-item, a.logo {
    text-decoration: none;
    color: black;   
}

a.topbar-item {
    font-weight: bold;
}

div.credits {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}

div.credits p.tiny {
    font-size: 10px;
}
